/* Brought from codepen https://codepen.io/elisabethdiang/pen/WNbBxXq */

.glitch {
  position: relative;
  animation: glitch 3s 3s infinite;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 magenta;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse,
    glitch 3s 3.03s infinite;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 lightgreen;
  background: black;
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 3s 3s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

.scanlines {
  overflow: hidden;
  mix-blend-mode: difference;
}

.scanlines::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.05) 0.5%,
    transparent 1%
  );

  animation: fudge 1s ease-in-out alternate infinite;
}

.glow {
  @extend .glitch;
  @apply text-xl md:text-3xl text-fuchsia-500;
}

@keyframes glitch-2 {
  1% {
    transform: rotateX(10deg) skewX(70deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}

@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(80px 0 18px 0);
  }
  6.6666666667% {
    clip-path: inset(83px 0 12px 0);
  }
  10% {
    clip-path: inset(27px 0 68px 0);
  }
  13.3333333333% {
    clip-path: inset(38px 0 59px 0);
  }
  16.6666666667% {
    clip-path: inset(67px 0 29px 0);
  }
  20% {
    clip-path: inset(99px 0 1px 0);
  }
  23.3333333333% {
    clip-path: inset(14px 0 1px 0);
  }
  26.6666666667% {
    clip-path: inset(81px 0 17px 0);
  }
  30% {
    clip-path: inset(77px 0 1px 0);
  }
  33.3333333333% {
    clip-path: inset(8px 0 48px 0);
  }
  36.6666666667% {
    clip-path: inset(66px 0 11px 0);
  }
  40% {
    clip-path: inset(67px 0 17px 0);
  }
  43.3333333333% {
    clip-path: inset(83px 0 13px 0);
  }
  46.6666666667% {
    clip-path: inset(55px 0 28px 0);
  }
  50% {
    clip-path: inset(33px 0 2px 0);
  }
  53.3333333333% {
    clip-path: inset(29px 0 43px 0);
  }
  56.6666666667% {
    clip-path: inset(18px 0 46px 0);
  }
  60% {
    clip-path: inset(46px 0 23px 0);
  }
  63.3333333333% {
    clip-path: inset(47px 0 6px 0);
  }
  66.6666666667% {
    clip-path: inset(69px 0 3px 0);
  }
  70% {
    clip-path: inset(35px 0 4px 0);
  }
  73.3333333333% {
    clip-path: inset(82px 0 13px 0);
  }
  76.6666666667% {
    clip-path: inset(8px 0 17px 0);
  }
  80% {
    clip-path: inset(56px 0 45px 0);
  }
  83.3333333333% {
    clip-path: inset(15px 0 11px 0);
  }
  86.6666666667% {
    clip-path: inset(92px 0 2px 0);
  }
  90% {
    clip-path: inset(53px 0 36px 0);
  }
  93.3333333333% {
    clip-path: inset(13px 0 51px 0);
  }
  96.6666666667% {
    clip-path: inset(67px 0 29px 0);
  }
  100% {
    clip-path: inset(100px 0 1px 0);
  }
}

@keyframes noise-2 {
  0% {
    clip-path: inset(11px 0 62px 0);
  }
  3.3333333333% {
    clip-path: inset(7px 0 34px 0);
  }
  6.6666666667% {
    clip-path: inset(44px 0 2px 0);
  }
  10% {
    clip-path: inset(87px 0 14px 0);
  }
  13.3333333333% {
    clip-path: inset(7px 0 82px 0);
  }
  16.6666666667% {
    clip-path: inset(58px 0 14px 0);
  }
  20% {
    clip-path: inset(48px 0 2px 0);
  }
  23.3333333333% {
    clip-path: inset(11px 0 33px 0);
  }
  26.6666666667% {
    clip-path: inset(54px 0 46px 0);
  }
  30% {
    clip-path: inset(97px 0 1px 0);
  }
  33.3333333333% {
    clip-path: inset(87px 0 11px 0);
  }
  36.6666666667% {
    clip-path: inset(8px 0 47px 0);
  }
  40% {
    clip-path: inset(6px 0 75px 0);
  }
  43.3333333333% {
    clip-path: inset(57px 0 30px 0);
  }
  46.6666666667% {
    clip-path: inset(44px 0 42px 0);
  }
  50% {
    clip-path: inset(59px 0 33px 0);
  }
  53.3333333333% {
    clip-path: inset(32px 0 27px 0);
  }
  56.6666666667% {
    clip-path: inset(6px 0 67px 0);
  }
  60% {
    clip-path: inset(6px 0 67px 0);
  }
  63.3333333333% {
    clip-path: inset(77px 0 6px 0);
  }
  66.6666666667% {
    clip-path: inset(38px 0 44px 0);
  }
  70% {
    clip-path: inset(77px 0 12px 0);
  }
  73.3333333333% {
    clip-path: inset(89px 0 12px 0);
  }
  76.6666666667% {
    clip-path: inset(72px 0 14px 0);
  }
  80% {
    clip-path: inset(50px 0 31px 0);
  }
  83.3333333333% {
    clip-path: inset(28px 0 9px 0);
  }
  86.6666666667% {
    clip-path: inset(62px 0 11px 0);
  }
  90% {
    clip-path: inset(99px 0 2px 0);
  }
  93.3333333333% {
    clip-path: inset(98px 0 2px 0);
  }
  96.6666666667% {
    clip-path: inset(31px 0 40px 0);
  }
  100% {
    clip-path: inset(52px 0 20px 0);
  }
}
