.glow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

/* stylelint-disable */
/* prettier-ignore */
@keyframes svg-shadow {
  from {
    filter:
      drop-shadow(0 0 5px #fff) drop-shadow(0 0 8px #e60073)
      drop-shadow(0 0 10px #e60073);
  }

  to {
    filter:
      drop-shadow(0 0 10px #fff) drop-shadow(0 0 12px #e60073)
      drop-shadow(0 0 12px #e60073);
  }
}
/* stylelint-enable */
