@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-3000 {
    animation-delay: 3s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .animation-delay-6000 {
    animation-delay: 6s;
  }
  .animation-delay-7000 {
    animation-delay: 7s;
  }
  .animation-delay-8000 {
    animation-delay: 8s;
  }
}
